BasedOnStyle: Google
Language: Cpp
Standard: c++14
ColumnLimit: 99
UseTab: Never
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
BreakBeforeBraces: Allman
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: DontAlign
AllowAllParametersOfDeclarationOnNextLine: true
DerivePointerAlignment: false
PointerAlignment: Middle
BinPackArguments: false
BinPackParameters: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
FixNamespaceComments: true
IncludeBlocks: Preserve
