/* The standard CSS for doxygen 1.8.3.1 */
body, table, div, p, dl, .tabs, .tabs2, .tabs3, .tabs4, #nav-tree .label {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  line-height: 1.5;
}

#body-content {
  border: 1px #666666 dotted;
}

#top {
  border-bottom: 1px #666666 dotted;
}

#doc-content {
  border-left: 1px #666666 dotted;
  height: auto !important;
}
#doc-content img {
  max-width: 100%;
}

#side-nav {
  padding: 15px;
  top: 2px !important;
  float: left;
  height: 100% !important;
  position: relative !important;
}

#nav-tree {
  background-image: none;
  background-color: inherit;
  height: auto !important;
}
#nav-tree a {
  color: #444444;
}
#nav-tree #selected {
  color: #F9B41B;
  text-shadow: none;
  background-image: none;
  background-color: none;
}
#nav-tree #selected a {
  color: #F9B41B;
}
#nav-tree .label {
  font-size: 100%;
}

#nav-path {
  clear: both;
}

#copyright {
  width: 100%;
  text-align: center;
}

.textblock li {
  margin-bottom: 0.5em;
}
.textblock li li {
  margin-bottom: 0.25em;
}

.ui-resizable-e {
  background-image: none;
}

/* @group Heading Levels */
h1.groupheader {
  font-size: 150%;
}

.title {
  font-weight: 600;
  font-size: 170%;
  margin: 10px 2px;
}

h2.groupheader {
  border-top: 1px #666666 dotted;
  border-bottom: 1px #666666 dotted;
  color: #666666;
  font-size: 150%;
  font-weight: normal;
  margin-top: 1.75em;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  margin-left: -30px;
  padding-left: 30px;
  margin-right: -30px;
  padding-right: 30px;
}

h3.groupheader {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  transition: text-shadow 0.5s linear;
  margin-right: 15px;
}

h1.glow, h2.glow, h3.glow, h4.glow, h5.glow, h6.glow {
  text-shadow: 0 0 8px #F9B41B;
}

dt {
  font-weight: bold;
}

div.multicol {
  -column-gap: 1em;
  column-gap: 1em;
}

p.startli, p.startdd, p.starttd {
  margin-top: 2px;
}

p.endli {
  margin-bottom: 0px;
}

p.enddd {
  margin-bottom: 4px;
}

p.endtd {
  margin-bottom: 2px;
}

/* @end */
caption {
  font-weight: bold;
}

span.legend {
  font-size: 70%;
  text-align: center;
}

h3.version {
  font-size: 90%;
  text-align: center;
}

div.qindex, div.navtab {
  background-color: #EBEFF6;
  border: 1px solid #A3B4D7;
  text-align: center;
}

div.qindex, div.navpath {
  width: 100%;
  line-height: 140%;
}

div.navtab {
  margin-right: 15px;
}

/* @group Link Styling */
a {
  color: #444444;
  font-weight: normal;
  text-decoration: none;
}

.contents a:visited {
  color: #444444;
}

a:hover {
  text-decoration: underline;
}

a.qindex {
  font-weight: bold;
}

a.qindexHL {
  font-weight: bold;
  background-color: #9CAFD4;
  color: #ffffff;
  border: 1px double #869DCA;
}

.contents a.qindexHL:visited {
  color: #ffffff;
}

a.el {
  font-weight: bold;
}

a.code, a.code:visited {
  color: #4665A2;
}

a.codeRef, a.codeRef:visited {
  color: #4665A2;
}

/* @end */
dl.el {
  margin-left: -1cm;
}

pre.fragment {
  border: none;
  padding: 4px 6px;
  margin: 4px 8px 4px 2px;
  overflow: auto;
  word-wrap: break-word;
  font-size: 9pt;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

.fragment {
  border-radius: 6px;
  background-color: #fbfbfb;
}
.fragment .title {
  font-size: 100% !important;
  text-transform: none !important;
  font-weight: normal !important;
}

div.fragment {
  border: none;
  border-radius: 6px;
  padding: 4px;
  margin: 4px;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  background-color: #fbfbfb;
}

div.line {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  line-height: 1.5;
  text-wrap: unrestricted;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-indent: -53px;
  padding-left: 53px;
  padding-bottom: 0px;
  margin: 0px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
}

div.line.glow {
  background-color: cyan;
  box-shadow: 0 0 10px cyan;
}

span.lineno {
  background: inherit;
  color: #e2e2e2;
  border: none;
  padding-right: 4px;
  text-align: right;
  background-color: none;
  white-space: pre;
}

div.ah {
  background-color: black;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 0.2em;
  border: solid thin #333;
  border-radius: 0.5em;
  box-shadow: 2px 2px 3px #999;
  background-image: linear-gradient(linear, left top, left bottom, from(#eee), to(#000), color-stop(0.3, #444));
}

div.groupHeader {
  margin-left: 16px;
  margin-top: 12px;
  font-weight: bold;
  border-bottom: 1px #666666 dotted;
}

div.groupText {
  margin-left: 16px;
  font-style: italic;
}

body {
  background-color: white;
  color: #666666;
  margin: 0;
}

#all-content {
  min-width: 1100px;
  width: min-content;
  margin: auto;
  position: relative;
  margin-top: 30px;
  margin-bottom: 100px;
}
@media screen and (max-width: 1100px) {
  #all-content {
    min-width: auto;
  }
}

div.contents {
  margin-top: 10px;
  margin-left: 12px;
  margin-right: 8px;
  padding: 20px;
  padding-top: 0px;
}
div.contents h1 {
  font-weight: 600;
  font-size: 140%;
  margin-left: -30px;
  margin-right: -28px;
  padding: 0.75em 30px 0.8em 28px;
  border-top: 1px #666666 dotted;
  border-bottom: 1px #666666 dotted;
}
div.contents h2 {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px #666666 dotted;
  font-size: 120%;
}

td.indexkey {
  background-color: #EBEFF6;
  font-weight: bold;
  border: 1px solid #C4CFE5;
  margin: 2px 0px 2px 0;
  padding: 2px 10px;
  white-space: nowrap;
  vertical-align: top;
}

td.indexvalue {
  background-color: #EBEFF6;
  border: 1px solid #C4CFE5;
  padding: 2px 10px;
  margin: 2px 0px;
}

tr.memlist {
  background-color: #EEF1F7;
}

p.formulaDsp {
  text-align: center;
}

img.formulaInl {
  vertical-align: middle;
}

div.center {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

div.center img {
  border: 0px;
}

address.footer {
  text-align: right;
  padding-right: 12px;
}

img.footer {
  border: 0px;
  vertical-align: middle;
}

/* @group Code Colorization */
span.keyword {
  color: #008000;
}

span.keywordtype {
  color: #604020;
}

span.keywordflow {
  color: #e08000;
}

span.comment {
  color: #adadad;
}

span.preprocessor {
  color: #806020;
}

span.stringliteral {
  color: #7c87a7;
}

span.charliteral {
  color: #008080;
}

span.vhdldigit {
  color: #ff00ff;
}

span.vhdlchar {
  color: #000000;
}

span.vhdlkeyword {
  color: #700070;
}

span.vhdllogic {
  color: #ff0000;
}

/* @end */
td.tiny {
  font-size: 75%;
}

.dirtab {
  padding: 4px;
  border-collapse: collapse;
  border: 1px solid #A3B4D7;
}

th.dirtab {
  background: #EBEFF6;
  font-weight: bold;
}

hr {
  height: 0px;
  border: none;
  border-top: 1px solid #4A6AAA;
}

hr.footer {
  height: 1px;
  border-top: 1px dotted #666666;
}

/* @group Member Descriptions */
table.memberdecls {
  border-spacing: 0px;
  padding: 0px;
}

.memberdecls td, .fieldtable tr {
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  padding: 4px 0px 4px 6px;
}

.memberdecls td.glow, .fieldtable tr.glow {
  background-color: cyan;
  box-shadow: 0 0 15px cyan;
}

.mdescLeft, .mdescRight,
.memItemLeft, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
  background-color: #F9FAFC;
  border: none;
  margin: 4px;
  padding: 1px 0 0 8px;
}

.mdescLeft, .mdescRight {
  padding: 2px 8px 4px 8px;
  color: #555;
}

.memSeparator {
  border-bottom: none;
  line-height: 1px;
  margin: 0px;
  padding: 0px;
}

.memItemLeft, .memTemplItemLeft {
  white-space: nowrap;
  opacity: 0.5;
}

.memItemRight {
  width: 100%;
}

.memTemplParams {
  color: #4665A2;
  white-space: nowrap;
  font-size: 80%;
}

/* @end */
/* @group Member Details */
/* Styles for detailed member documentation */
.memtemplate {
  font-size: 80%;
  color: #4665A2;
  font-weight: normal;
  margin-left: 9px;
}

.memnav {
  background-color: #EBEFF6;
  border: 1px solid #A3B4D7;
  text-align: center;
  margin: 2px;
  margin-right: 15px;
  padding: 2px;
}

.mempage {
  width: 100%;
}

.memitem {
  padding: 0;
  margin-bottom: 10px;
  margin-right: 5px;
  transition: box-shadow 0.5s linear;
  display: table !important;
  width: 100%;
}

.memitem.glow {
  box-shadow: 0 0 15px cyan;
}

.memname {
  font-weight: bold;
  margin-left: 6px;
}

.memname td {
  vertical-align: bottom;
}

.proto, .memdoc, dl.reflist dd, .memproto, dl.reflist dt {
  background-color: #f6f6f6;
  border: none;
  background-image: none;
  box-shadow: none;
  margin: 0px -26px 0px -32px;
  padding: 0px 26px 0px 32px;
}

.memproto, dl.reflist dt {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #666666;
}

.memdoc, dl.reflist dd {
  background: none;
  margin-bottom: 20px;
}

dl.reflist dt {
  padding: 5px;
}

dl.reflist dd {
  margin: 0px 0px 10px 0px;
  padding: 5px;
}

.paramkey {
  text-align: right;
}

.paramtype {
  white-space: nowrap;
}

.paramname {
  color: #F9B41B;
  white-space: nowrap;
}

.paramname em {
  font-style: normal;
}

.paramname code {
  line-height: 14px;
}

.params, .retval, .exception, .tparams {
  margin-left: 0px;
  padding-left: 0px;
}

.params .paramname, .retval .paramname {
  font-weight: bold;
  vertical-align: top;
}

.params .paramtype {
  font-style: italic;
  vertical-align: top;
}

.params .paramdir {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  vertical-align: top;
}

table.mlabels {
  border-spacing: 0px;
}

td.mlabels-left {
  width: 100%;
  padding: 0px;
}

td.mlabels-right {
  vertical-align: bottom;
  padding: 0px;
  white-space: nowrap;
}

span.mlabels {
  margin-left: 8px;
}

span.mlabel {
  background-color: #728DC1;
  border-top: 1px solid #5373B4;
  border-left: 1px solid #5373B4;
  border-right: 1px solid #C4CFE5;
  border-bottom: 1px solid #C4CFE5;
  text-shadow: none;
  color: white;
  margin-right: 4px;
  padding: 2px 3px;
  border-radius: 3px;
  font-size: 7pt;
  white-space: nowrap;
  vertical-align: middle;
}

/* @end */
/* these are for tree view when not used as main index */
div.directory {
  margin: 10px 0px;
  border-top: 1px solid #A8B8D9;
  border-bottom: 1px solid #A8B8D9;
  width: 100%;
}

.directory table {
  border-collapse: collapse;
}

.directory td {
  margin: 0px;
  vertical-align: top;
  padding: 0.5em 5px;
}

.directory td.entry {
  white-space: nowrap;
  padding-right: 6px;
}

.directory td.entry a {
  outline: none;
}

.directory td.entry a img {
  border: none;
}

.directory td.desc {
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.directory tr.even {
  padding-left: 6px;
  background-color: #F7F8FB;
}

.directory img {
  vertical-align: -30%;
}

.directory .levels {
  white-space: nowrap;
  width: 100%;
  text-align: right;
  font-size: 9pt;
}

.directory .levels span {
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
  color: #3D578C;
}

div.dynheader {
  margin-top: 8px;
  user-select: none;
}

address {
  font-style: normal;
  color: #2A3D61;
}

table.doxtable {
  border-collapse: collapse;
  margin-top: 4px;
  margin-bottom: 4px;
}

table.doxtable td, table.doxtable th {
  border: 1px solid #2D4068;
  padding: 3px 7px 2px;
}

table.doxtable th {
  background-color: #374F7F;
  color: #FFFFFF;
  font-size: 110%;
  padding-bottom: 4px;
  padding-top: 5px;
}

table.fieldtable {
  /*width: 100%;*/
  margin-bottom: 10px;
  border: 1px solid #A8B8D9;
  border-spacing: 0px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.fieldtable td, .fieldtable th {
  padding: 3px 7px 2px;
}

.fieldtable td.fieldtype, .fieldtable td.fieldname {
  white-space: nowrap;
  border-right: 1px solid #A8B8D9;
  border-bottom: 1px solid #A8B8D9;
  vertical-align: top;
}

.fieldtable td.fieldname {
  padding-top: 5px;
}

.fieldtable td.fielddoc {
  border-bottom: 1px solid #A8B8D9;
  /*width: 100%;*/
}

.fieldtable td.fielddoc p:first-child {
  margin-top: 2px;
}

.fieldtable td.fielddoc p:last-child {
  margin-bottom: 2px;
}

.fieldtable tr:last-child td {
  border-bottom: none;
}

.fieldtable th {
  background-image: url("nav_f.png");
  background-repeat: repeat-x;
  background-color: #E2E8F2;
  font-size: 90%;
  color: #666666;
  padding-bottom: 4px;
  padding-top: 5px;
  text-align: left;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #A8B8D9;
}

.tabs, .tabs2, .tabs3, .tabs4 {
  background-image: none;
  font-size: inherit;
  border-top: 1px #666666 dotted;
  padding-left: 10px;
}

.tablist {
  background-image: none;
  text-shadow: none;
  text-transform: uppercase;
}
.tablist a, .tablist a:hover, .tablist li, .tablist li a, .tablist li.current a {
  background-image: none;
  text-shadow: none;
  font-weight: normal;
}
.tablist a {
  color: #666666;
}
.tablist a:hover {
  color: black;
}
.tablist li.current a {
  color: #F9B41B;
  border-radius: 6px 6px 0px 0px;
  border: 1px #666666 dotted;
  background: white;
  padding-top: 2px;
  border-bottom: 2px white solid;
  margin-bottom: -2px;
  margin-top: -4px;
}

.tabs2, .tabs3 {
  box-sizing: border-box;
}
.tabs2 a:hover, .tabs3 a:hover {
  color: black;
}

#nav-sync {
  opacity: 0.5;
  right: 5px;
}

#navrow2 {
  background-color: none;
}
.tabsearch {
  top: 0px;
  left: 10px;
  height: 36px;
  z-index: 101;
  overflow: hidden;
  font-size: 13px;
}

.navpath ul {
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  color: #999999;
  border: none;
  border-top: 1px #666666 dotted;
  background-image: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.navpath li {
  font-weight: 600;
  list-style-type: none;
  float: left;
  padding-left: 10px;
  padding-right: 5px;
  background-image: none;
  color: #999999;
}
.navpath li a:before {
  content: ">";
  margin-right: 1em;
}

.navpath li.navelem a {
  height: 32px;
  display: block;
  text-decoration: none;
  outline: none;
  color: #283A5D;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  text-decoration: none;
}

.navpath li.navelem a:hover {
  color: #F9B41B;
}

.navpath li.footer {
  list-style-type: none;
  float: right;
  padding-left: 10px;
  padding-right: 15px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: right;
  color: #364D7C;
  font-size: 8pt;
}

div.summary {
  float: right;
  font-size: 8pt;
  padding-right: 5px;
  width: auto;
  text-align: right;
}

div.summary a {
  white-space: nowrap;
}

div.ingroups {
  font-size: 8pt;
  width: 50%;
  text-align: left;
}

div.ingroups a {
  white-space: nowrap;
}

div.header {
  background: none;
  margin: 0px;
  border-bottom: 1px #666666 dotted;
}

div.headertitle {
  padding: 5px 5px 5px 10px;
}

dl {
  padding: 0 0 0 10px;
}

dl.section {
  margin-left: 0px;
  padding-left: 0px;
}

.bubble, dl.todo, dl.deprecated, dl.warning, dl.attention, dl.note, blockquote {
  padding: 10px 20px;
  background-color: #eeeeee;
  border-radius: 8px;
  border: none;
}

dl.note {
  background-color: #e4f6df;
}

dl.warning, dl.attention {
  background-color: #f7d1d1;
}

dl.pre, dl.post, dl.invariant {
  margin-left: -7px;
  padding-left: 3px;
  border-left: 4px solid;
  border-color: #00D000;
}

dl.deprecated {
  background-color: #f7d1d1;
}

dl.todo {
  background-color: #e6f0fa;
}

dl.test {
  margin-left: -7px;
  padding-left: 3px;
  border-left: 4px solid;
  border-color: #3030E0;
}

dl.bug {
  margin-left: -7px;
  padding-left: 3px;
  border-left: 4px solid;
  border-color: #C08050;
}

dl.section dd {
  margin-bottom: 6px;
}

#projectlogo {
  text-align: center;
  vertical-align: bottom;
  border-collapse: separate;
}

#projectlogo img {
  border: 0px none;
}

#projectname {
  margin: 0px;
  padding: 2px 0px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-weight: 800;
}

#projectbrief {
  font: 120%;
  color: #999999;
  font-style: italic;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

#projectnumber {
  font: 50%;
  margin: 0px;
  padding: 0px;
}

#titlearea {
  padding: 20px 10px;
  margin: 0px;
  width: 100%;
  border-bottom: none;
  margin-bottom: 20px;
}

.image {
  text-align: center;
}

.dotgraph {
  text-align: center;
}

.mscgraph {
  text-align: center;
}

.caption {
  font-weight: bold;
}

div.zoom {
  border: 1px solid #90A5CE;
}

dl.citelist {
  margin-bottom: 50px;
}

dl.citelist dt {
  color: #334975;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px;
}

dl.citelist dd {
  margin: 2px 0;
  padding: 5px 0;
}

div.toc {
  padding: 14px 25px;
  background-color: #F4F6FA;
  border: 1px solid #D8DFEE;
  border-radius: 7px 7px 7px 7px;
  float: right;
  height: auto;
  margin: 0 20px 10px 10px;
  width: 200px;
}

div.toc li {
  background: url("bdwn.png") no-repeat scroll 0 5px transparent;
  font: 10px/1.2 Verdana, DejaVu Sans, Geneva, sans-serif;
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 2px;
}

div.toc h3 {
  font: bold 12px/1.2 Arial, FreeSans, sans-serif;
  color: #4665A2;
  border-bottom: 0 none;
  margin: 0;
}

div.toc ul {
  list-style: none outside none;
  border: medium none;
  padding: 0px;
}

div.toc li.level1 {
  margin-left: 0px;
}

div.toc li.level2 {
  margin-left: 15px;
}

div.toc li.level3 {
  margin-left: 30px;
}

div.toc li.level4 {
  margin-left: 45px;
}

.inherit_header {
  font-weight: bold;
  color: gray;
  cursor: pointer;
  user-select: none;
}

.inherit_header td {
  padding: 6px 0px 2px 5px;
}

.inherit {
  display: none;
}

tr.heading h2 {
  margin-top: 12px;
  margin-bottom: 4px;
}

@media print {
  #top {
    display: none;
  }

  #side-nav {
    display: none;
  }

  #nav-path {
    display: none;
  }

  body {
    overflow: visible;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }

  .summary {
    display: none;
  }

  .memitem {
    page-break-inside: avoid;
  }

  #doc-content {
    margin-left: 0 !important;
    height: auto !important;
    width: auto !important;
    overflow: inherit;
    display: inline;
  }
}
