# Build OpenAssetIO, push an artifact, and test it, all in one handy workflow.

name: Build and Test
on:
  workflow_dispatch:
  pull_request:
    branches-ignore:
      - docs
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        # We can't properly align to the VFX Reference Platform as this
        # requires glibc 2.17, which is older than any of the available
        # environments.
        config:
        - os: windows-2022
          preamble: call "C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\VC\\Auxiliary\\Build\\vcvarsall.bat" x64
          shell: cmd
        - os: ubuntu-22.04
          shell: bash
        - os: macos-12
          shell: bash
    defaults:
      run:
        # Annoyingly required here since `matrix` isn't available in
        # the `shell` property of individual steps.
        shell: ${{ matrix.config.shell }}

    steps:
    - uses: actions/checkout@v4

    - name: Bootstrap
      uses: ./.github/bootstrap_platform

     # We don't want to publish the test build, it gets too big.
    - name: Build and Install (No tests)
      run: >
        ${{ matrix.config.preamble }}

        cmake -S . -B build -G Ninja
        --install-prefix ${{ github.workspace }}/dist
        --toolchain ${{ github.workspace }}/.conan/conan_paths.cmake
        -DCMAKE_BUILD_TYPE=RelWithDebInfo

        cmake --build build

        cmake --install build

    - name: Upload archive
      uses: actions/upload-artifact@v3
      with:
        name: openassetio-${{ matrix.config.os }}
        path: |
          ${{ github.workspace }}/dist

    # Reconfigure to add the test target. Ctest should rebuild using
    # the cached build from prior.
    - name: Test
      run: >
        ${{ matrix.config.preamble }}

        cmake --preset test build

        ctest -VV --test-dir build --parallel 4

  docs:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Test
      run: |
        echo "::add-matcher::./.github/workflows/problem-matchers/doxygen.json"
        # Problem matches don't actually error a step, so we have to
        # manually check for warnings/errors at the end. Capture the
        # output so we can parse it later.
        set -o pipefail
        make -C doc/doxygen 2>&1 | tee doxygen-log.txt
        echo "::remove-matcher owner=doxygen::"
        # Fail the job if we have Doxygen warning/error lines in the
        # output. NB: This is the same regex as doxygen.json, adapted
        # to work with GNU grep.
        ! grep -qE "^.*?/src/[^:]+:[0-9]+: ?[a-zA-Z]+: ?.*$" doxygen-log.txt

    - name: Expose archive docs artifact
      uses: actions/upload-artifact@v3
      with:
        name: doxygen-documentation
        path: doc/doxygen/html

  disallowed-phrases:
    runs-on: ubuntu-22.04
    name: Disallowed phrases

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

      # Check that the acronym version of OpenAssetIO isn't in use in
      # the code base, see:
      #   https://github.com/OpenAssetIO/OpenAssetIO/issues/153
      # NB: The quotes deliberately avoid the string in question
      # appearing in this file, and failing the test.
    - name: Ambiguous acronym
      run: >
        ! grep -ir "o""aio" .

      # Check that we always use the `OPENASSETIO_`-prefixed pybind11
      # override macros. Uses Perl regexp with negative lookbehind.
    - name: pybind11 macros
      run: >
        ! grep -Pr '(?<!OPENASSETIO_)PYBIND11_OVERRIDE'
        --exclude overrideMacros.hpp --exclude-dir _testutils src
