name: Code quality
on: pull_request
  
jobs:
  pylint:
    runs-on: ubuntu-latest
    name: Pylint
    strategy:
      matrix:
        config:
          - os: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Bootstrap
        uses: ./.github/bootstrap_platform

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r resources/build/linter-requirements.txt
          python -m pip install -r tests/python/requirements.txt

      - name: Build
        run: |
          python -m pip install .
        env:
          CMAKE_TOOLCHAIN_FILE: ${{ github.workspace }}/.conan/conan_paths.cmake

      - name: Lint
        uses: TheFoundryVisionmongers/fn-pylint-action@v1.1
        with:
          pylint-disable: fixme  # We track 'todo's through other means
          pylint-rcfile: "./pyproject.toml"
          pylint-paths: "python/openassetio tests/python"
          # Presently it's not possible to disable the `duplicate-code`
          # check for specific files, so it thinks that the symlink is
          # duplicated implementation. See:
          #     https://github.com/PyCQA/pylint/issues/214
          pylint-ignore-paths: "tests/python/openassetio/pluginSystem/resources/symlinkPath"

  black:
    runs-on: ubuntu-latest
    name: Python formatting
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r resources/build/linter-requirements.txt

      - name: Check Python formatting
        run: black --check .

  # Note: in order to keep an `actions/cache` cache up to date, we must
  # use the approach detailed in
  # https://github.com/actions/cache/blob/main/workarounds.md#update-a-cache
  # i.e. load the most recently created cache that matches a prefix,
  # then create an entirely new cache with every run.

  cpp-linters:
    name: C++ linters
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        config:
          - os: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Bootstrap
        uses: ./.github/bootstrap_platform

      - name: Cache ccache cache
        uses: actions/cache@v2
        with:
          path: /tmp/ccache
          key: ubuntu-20.04-ccache-lint-${{ github.run_id }}
          restore-keys: ubuntu-20.04-ccache-lint-

      - name: Install dependencies
        # Configure the system and install library dependencies via
        # conan packages.
        run: |
          python -m pip install -r resources/build/linter-requirements.txt
          clang-tidy --version
          clang-format --version
          cpplint --version

      - name: Configure CMake build
        run: >
          cmake -S . -B build -G Ninja
          -DCMAKE_CXX_COMPILER_LAUNCHER=/usr/bin/ccache
          -DCMAKE_C_COMPILER_LAUNCHER=/usr/bin/ccache
          --install-prefix ${{ github.workspace }}/dist
          --toolchain ${{ github.workspace }}/.conan/conan_paths.cmake
          --preset lint

      - name: Build and lint
        run: |
          /usr/bin/ccache -s
          cmake --build build
          /usr/bin/ccache -s
        env:
          CCACHE_DIR: /tmp/ccache

  sanitizers:
    name: Sanitizers
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        config:
          - os: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Bootstrap
        uses: ./.github/bootstrap_platform

      - name: Cache ccache cache
        uses: actions/cache@v2
        with:
          path: /tmp/ccache
          key: ubuntu-20.04-ccache-sanitize-${{ github.run_id }}
          restore-keys: ubuntu-20.04-ccache-sanitize-

      - name: Configure CMake build
        run: >
          cmake -S . -B build -G Ninja
          -DCMAKE_CXX_COMPILER_LAUNCHER=/usr/bin/ccache
          -DCMAKE_C_COMPILER_LAUNCHER=/usr/bin/ccache
          --install-prefix ${{ github.workspace }}/dist
          --toolchain ${{ github.workspace }}/.conan/conan_paths.cmake
          --preset sanitize

      - name: Build and test
        run: |
          /usr/bin/ccache -s
          ctest -VV --test-dir build --parallel 2
          /usr/bin/ccache -s
        env:
          CCACHE_DIR: /tmp/ccache
