name: Git Checks

on: [pull_request]

jobs:
  # Prevent any PR's being merge that have fixup commits in them
  block-fixup:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
    - name: Block Fixup Commit Merge
      uses: 13rac1/block-fixup-merge-action@v2.0.0
